$gutter: 25px;

/* Card Styles */
.card {
    background-color: $white;
    height: 12.500em;
    margin-bottom: $gutter;
    padding: $gutter 1.250em $gutter 1.250em;
    border-radius: 8px;
    max-width: 21.875em;
    margin-left: auto;
    margin-right: auto;
    @include boxShadow();
    .card-header {
        color: $dark-blue;
    }
    &.card-cyan {
        @include boxBorderColor($cyan);
    }
    &.card-red {
        @include boxBorderColor($red);
    }
    &.card-orange {
        @include boxBorderColor($orange);
    }
    &.card-blue {
        @include boxBorderColor($blue);
    }
    position: relative;
    & > img {
        position: absolute;
        bottom: $gutter;
        right: $gutter;
    }

}

/* Card Style to Medium and Greater Devices */
@include medium-and-above {
    .card-container {
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .card-middle {
        flex-direction: column;
        margin-right: $gutter;
        margin-left: $gutter;
    }
    .card-first {
        align-self: center;
        float: left;
    }
    .card-last {
        align-self: center;
        float: right;
    }
}