/* Header Styles */
.header {
    text-align: center;
    padding-top: 5.000em;
    padding-bottom: 5.000em;
    max-width: 31.250em;
    [class^='title-'] {
        margin-top: 0px;
        margin-bottom: 0px;
        color: $dark-blue;
    }
    .title-thin {
        font-weight: $thin;
    }
    .title-bold {
        font-weight: $bold;
    }
    .header-description {
        font-weight: $regular;

    }
}